* {
    box-sizing: border-box;
  }
body {
    background-color: #D3D3D3 ;
    
    }
    header img {
        width: 60px;        
      }
      header h1 {
          text-align: center;
          font-family: fantasy;
          text-shadow: 4px 4px 5px red;
      }
      header { background-color: #a0522d	;}
      header  {
   
    padding: 15px;}
nav a {
    text-decoration: none;
color: lightcyan;
margin: 20px;
text-align: end;
align-items: center;
justify-content: center;

}
      
  
    /* div {
background-color:  #ff8c66
;
text-align: inherit;

    font-family: Arial, Helvetica, sans-serif;
     } */

main section:nth-child(1) {text-align:left;
 display: inline;
 float: right;
  padding: 8px;
  color: bisque;
  background-color: #584646;
}
    main ul li {
       list-style:circle ;  
       font-family: "Times New Roman", Times, serif;
       padding: 5px;
        color:	#0d0d64 ; 
     }

     table {
        padding: 10px;
        border: 2px solid black;
        border-collapse: collapse;
      }
      td {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }
      th {
        padding: 10px;
        border: 1px solid black;
        border-collapse: collapse;
      }

      footer {
        text-align: center;
        font-size: smaller;
        background-color: #222;
        color: #D3D3D3;
      }

      main a {
        font-style: oblique;
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
       text-align: center;
      }

       section:nth-child(4) {
          display: grid;
gap: 30px;
display: flex;
          display: inline;
         
      }

      .column {
        float: left;
        width: 50%;
        padding: 10px;
      }
      
      .column img {
        margin-top: 12px;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }